* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(44, 42, 42);
}


header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 900;
    color:rgb(235, 238, 240);
    border: 1px solid white;
}


.principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
  }
  
  .principal div {
      background-color: rgb(84, 75, 94);
      padding: 20px;
      border: 1px solid white;
      border-radius: 5px;
      max-width: 1200px;
     /* flex-grow: 1;
      object-fit: cover;*/

  }

  @media screen and (max-width: 768px) {
    .principal {
        display: block;
    }
    
  }
  
 
    #one {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3 ;
  }
  
  #two {
      grid-column-start: 3;
      grid-column-end: 5;
  }

  #seven {
    grid-column-start: 3 ;
    grid-column-end: 5 ;
  }

 .principal div:hover{
    background-color: rgb(181, 169, 169);
     
}

h2 {
    color: white;
}

p {
    color: rgb(235, 238, 240);
}