body {
    margin: 0px;
    background-color: black;
}


.container .box{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto ;
    gap: 10px;
    color: rgb(235, 238, 240);
  }

.container {
    background-color: black;
    border-color: black;
}


  .box div {
    background-color:rgb(84, 75, 94);
    padding: 20px;
    border: 1px solid rgb(40, 36, 44);
    border-radius: 15px;
  }

  #titulo {
    grid-column-start: 1;
    grid-column-end: 4;
  }

.box p {
    text-align: center;
}

a {
    color: rgb(235, 238, 240)
}

h4 {
    height: 10px;
    text-align: center;
    color: rgb(235, 238, 240);
    font-size: 2em;
    
}